{% import 'gentelella/components/menu.html' as menu with context %}
{% import 'gentelella/components/footer.html' as footer with context %}
{% import 'gentelella/components/analytics.html' as analytics with context %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>
        {% block title %}{% endblock %}
        {% if not is_home_page %}
            - {{ app_name }}
        {% endif %}
    </title>
    {% block head_meta %}
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="">
        <meta name="author" content="">
        <meta name="app-name" content="{{ app_name }}">
    {% endblock %}
    <link rel="shortcut icon" href="/favicon.ico?v1.1">

    {% block head_css %}
        <link rel="stylesheet" href="https://static.gnome.org/css/fonts.css"/>
        {% block head_css_bootstrap %}
        <link rel="stylesheet" href="{{ url_for('static', filename='vendor/bootstrap/dist/css/bootstrap.min.css') }}">
        {% endblock %}
        <link rel="stylesheet" href="{{ url_for('static', filename='vendor/font-awesome/css/font-awesome.min.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/vendor/gentelella.css') }}"/>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/custom/common.css') }}"/>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/custom/footer.css') }}"/>
        <link rel="stylesheet" href="{{ url_for('static', filename='vendor/summernote/dist/summernote.css') }}">
        <link rel="stylesheet"
              href="{{ url_for('static', filename='css/vendor/bootstrap/bootstrap-responsive-tabs.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='vendor/bootstrap-social/bootstrap-social.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/custom/gnome.css') }}"/>
    {% endblock %}

    {% block head_js %}
        <script src="{{ url_for('static', filename='vendor/jquery/dist/jquery.min.js') }}"></script>
        <script src="{{ url_for('static', filename='js/global.js') }}"></script>
        {# Globally included Swagger API Client. See the file for more details. #}
        <script src="{{ url_for('static', filename='vendor/swagger-js/browser/swagger-client.min.js') }}"></script>
        <script src="{{ url_for('static', filename='js/api.js') }}"></script>
        <script>
            window.appName = "{{ app_name }}";
        </script>
    {% endblock %}
</head>
<body class="nav-md">
<div class="container body" id="{{ page_id }}">
    <div class="main_container">
        {{ menu.render_menu() }}
        <div role="main" class="right_col" style="margin-left:0;">
            <div class="clearfix"></div>
            <div>
                {% include 'gentelella/components/notifications.html' %}
                {% block body %}

                {% endblock %}
            </div>
        </div>
        {{ footer.render_footer() }}
    </div>
</div>

{% block tail_js %}
    <script src="{{ url_for('static', filename='vendor/typeahead.js/dist/typeahead.bundle.min.js') }}"></script>
    <script src="{{ url_for('static', filename='vendor/bootstrap/dist/js/bootstrap.min.js') }}"></script>
    <script src="{{ url_for('static', filename='vendor/summernote/dist/summernote.min.js') }}"></script>
    <script src="{{ url_for('static', filename='vendor/socket.io-client/socket.io.js') }}"></script>
    <script src="{{ url_for('static', filename='js/global_tail.js') }}"></script>
    <script src="{{ url_for('static', filename='js/vendor/custom.js') }}"></script>
{% endblock %}
{{ analytics.render_analytics() }}
<script type="text/javascript">
    var notificationViewPath = "{{ url_for('notifications.index_view') }}";
    setATagsInNotifMenuDropDown(notificationViewPath);
</script>

{% if current_user.is_authenticated and integrate_socketio %}
    <script type="text/javascript">
        $(document).ready(function () {
            var namespace = '/notifs';
            var socket = io.connect(location.protocol + "//" + location.host + namespace, {reconnection: false});
            socket.on('notifs-response', function (msg) {
                if (msg.hasOwnProperty("notif_count") && msg.hasOwnProperty("notifs")) {
                    $("#notif_count").text(msg.notif_count);
                    $("#notif-menu").find("li.notif-menu-li").each(function (i, li) {
                        $(li).remove();
                    });
                    var html = '';
                    $.each(msg.notifs, function (i, notif) {
                        html += '<li class="notif-menu-li"><a><span class="message">' + notif.title +
                            '</span><span class="time">' + notif.received_at + '</span><span class="mark-as-read btn btn-default btn-xs"' +
                            ' data-markread="' + notif.mark_read + '">Mark as read</span>';
                    });
                    $("ul#notif-menu li:first-child").after(html);
                    setATagsInNotifMenuDropDown(notificationViewPath);
                }
            });
        });
    </script>
{% endif %}
</body>
</html>
