.nav_menu {
  background-color: #4a86cf !important;
  border: none;
}

.search_bar .form-control::placeholder,
.nav.navbar-nav > li > a {
  color: #fff !important;
}
.nav.navbar-nav > li > a:focus, .nav.navbar-nav > li > a:hover, .nav.navbar-nav > li > a:active {
  background: hsla(0,0%,100%,.2);
}

.gnome-navbar-brand img {
  max-height: 35px;
  min-width: 35px;
}

.btn {
  border-radius: 2px;
}

.btn-action {
  color: #333;
  background-color: #eee;
  border-color: #e1e1e1;
}

.search_bar .input-group {
  margin-top: 14px !important;
}

.search_bar .form-control {
  background: hsla(0,0%,100%,.1) !important;
  border: none;
  color: #fff;
}

.search_bar .search-button {
  color: #fff;
  background: hsla(0,0%,100%,.1);
  border: none;
  height: 34px;
}

#footer-menu {
  border-bottom: none !important;
}

.footer-dropdown {
  border-radius: 2px;
  border: none;
  background: #404247;
}

.login_content form#login-form {
  left: 0;
}

.carousel .item {
    background: #fff url('/static/img/featured_image.png') no-repeat center !important;
    background-size: cover !important;
}

@media (min-width: 480px) {
  .top_nav .navbar-right li {
    border-left: none;
  }
}
